@font-face {
    font-family: "Plain Light";
    src: url("./assets/plain-light-webfont.ttf");
}

@font-face {
    font-family: "Plain Light";
    src: url("./assets/plain-regular-webfont.ttf");
}

@font-face {
    font-family: "Silk Serif";
    src: url("./assets/silkserif-lightitalic-webfont.ttf");
}

@font-face {
    font-family: "Silk Serif";
    src: url("./assets/silkserif-regularitalic-webfont.ttf");
}


*{
    margin: 0;
    padding: 0;
    color: #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "Plain Light";
}

html,body{
    width: 100%;
    height: 100%;
    cursor: none;
    overflow-x: hidden;
    
    background-color: #151515;
}

#crsr{
    height: 2.4vw;
    width: 2.4vw;
    border-radius: 50%;
    border: 1.5px solid #ffffffcd;
    position: fixed;
    z-index: 999;
    mix-blend-mode: difference;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.mousefollower {
    border: 2px solid #fff;
    background-color: rgb(255, 255, 255);
    scale: 2.5;
    mix-blend-mode: difference;
}

#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #0B0B0B;
    padding: 25vh 10vw;
    /* display: none; */
}

.line{
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 3vw;
}

#line1-part1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1.1vw;
}

#line1-part1 h5, #line1-part1 h6{
    font-size: 3vw;
    font-weight: 100;
    font-family:"silk serif" ;
}

#line1-part1 h5{
    width: 5vw;
    text-align: right;
}
.line h1{
    font-size: 6.5vw;
    text-transform:uppercase ;
    font-weight: 500;
}

.line h2{
    font-size: 5.0vw;
    text-transform: uppercase;
    font-weight: 500;
    /* animation-name: anime; */
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    opacity: 0;
}

@-webkit-keyframes loaderAnime {
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color:#fff;
        font-weight: 500;
        opacity: 1;
    }
    48%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color:#fff;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color:transparent;
        opacity: 1;
    }
    100%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color:transparent;
        opacity: 0;
    }
}

@keyframes loaderAnime {
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color:#fff;
        font-weight: 500;
        opacity: 1;
    }
    48%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color:#fff;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color:transparent;
        opacity: 1;
    }
    100%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color:transparent;
        opacity: 0;
    }
}

#main{
    position: relative;
    background-color: #151515;
}

#mobNav{
    display: none;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
}

#page1 #nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2.3vw 4.5vw;
}

#nav-part2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 3vw;
}

#nav-part2 h4{
    font-size: 0.8vw;
    font-weight: 500;
}

.hero{
    width: 72%;
    margin-left: 27%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow-y: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0.5vw;
    
}


.hero:nth-child(2){
    margin-top: 18vh;
}

.hero h1{
    font-size: 7.2vw;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 7.2vw;
    position: relative;
    z-index: 999;
}

#hero1::before {
    content: "01";
   position: absolute;
   font-size: 3vw;
   font-family: "silk serif";
   font-weight: 100;
   left: 19%;
   top: 31%;
}

.hero h2{
    font-size: 7.2vw;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 7.2vw;
    border-bottom: 0.5vw solid #fff;
    padding-bottom: 0.8vw;
}

.hero h3{
    font-size: 7.2vw;
    font-weight: 500;
    line-height: 7.2vw;
}

.hero h2:hover{
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    border-bottom: 0.5vw solid #ffffff00;
}

#page2{
    height: 100vh;
    width: 100%;
    padding: 17vh;
    position: relative;
    margin-bottom: 20vh;
}

#video-container{
    height: 66vh;
    width: 71vw;
    position: relative;
    left: 28%;
    background-color: red;
    background-image: url("./assets/Showreel-2022-preview-1.jpg");
    background-size: cover;
    background-position: center;
}

#video-container video{
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    opacity: 0;
}



#video-cursor{
    background-color: #FFA63D;
    width: 8.5vw;
    height: 8.5vw;
    border-radius: 50%;
    position: absolute;
    top: -10%;
    left: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 999;
}

#video-cursor i{
    font-size: 2vw;
}

#page3{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 20vh 2vw;
    margin-bottom: 10vh;
    overflow: hidden;
    /* margin-top: 4vh; */
    /* background-color: green; */
}

#page3 h1{
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
    margin-left: 28vw;
}

#page3 h1::before{
    content: "02";
   position: absolute;
   font-size: 3vw;
   font-family: "silk serif";
   font-weight: 100;
   left: -12%;
   top: 8%;
}

#page3 .underline{
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 5vw 0;
    margin-left: 28vw;
}

#image-div-container{
    position: relative;
    padding: 1vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    gap: 2vw;
    padding-bottom: 20vw;
}

.left-container{
    width: 22vw;
    height: 34vw;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}
.left-container h3{
    font-size: 2vw;
    font-weight: 600;
    margin: 1.5vw 0.5vw;
}

.image-div{
   height: 80%;
   position: relative;
   overflow: hidden;
   width: 100%;
}

.right-container{
    width: 32vw;
    height: 52vw;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-bottom: 2vw;
}
.right-container h3{
    font-size: 2vw;
    font-weight: 600;
    margin: 1.5vw 0.5vw;
}
.right-container2{
    width: 32vw;
    height: 52vw;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-top: 3vw;
}
.right-container2 h3{
    font-size: 2vw;
    font-weight: 600;
    margin: 1.5vw 0.5vw;
}



.image-div img{
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}

.bottom-text{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 2vw 0;
}
.bottom-text::after{
    
    margin: 2vw 0;
}

.bottom-text p{
    width: 60%;
    font-size: 1vw;
    font-weight: 500;
}
.bottom-text h4{
    font-weight: 600;
    font-size: 1vw;

}

.under-line{
    width: 100%;
   height: 1px;
color: #fff;
background-color: #fff;
margin: 0.5vh 0;
}

.page3-circle1{
    height: 23vw;
    width: 23vw;
    border: 2px solid #fff;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 48vh;
    margin-left: 11vw;
    position: relative;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    cursor: none;
}

.page3-circle1 svg{
    height: 30%;
    cursor: none;
}

.circle-in1{
    height:100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    scale: 0;
    border-radius: 50%;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    cursor: none;
}

.circle-in1 p{
  font-size: 0.95vw;
  color: #000000;
  font-weight: 500;
  width: 73%;
  scale: 0;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
  opacity: 0;
  cursor: none;
}

.page3-circle1:hover .circle-in1{
    scale: 1;
    opacity: 1;
    cursor: none;
}
.page3-circle1:hover p{
    scale: 1;
    opacity: 1;
    cursor: none;
}

.page3-circle2{
    height: 23vw;
    width: 23vw;
    border: 2px solid #fff;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 1vh;
    position: relative;
    cursor: none;
}

.page3-circle2 svg{
    height: 30%;
    rotate: -45deg;
    cursor: none;
}

.circle-in2{
    height:100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    scale: 0;
    opacity: 0;
    border-radius: 50%;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    cursor: none;
}

.circle-in2 p{
  font-size: 0.95vw;
  color: #000000;
  font-weight: 500;
  width: 100%;
  scale: 0;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: none;
}

.page3-circle2:hover .circle-in2{
    scale: 1;
    opacity: 1;
    cursor: none;
    
}
.page3-circle2:hover p{
    scale: 1;
    opacity: 1;
    cursor: none;
}

.page3-circle3{
    height: 23vw;
    width: 23vw;
    background-color: #FFA63D;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    top: 6vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    cursor: none;
    margin: 8vw 0 12vw 0;
    /* -o-animation-iteration-count: infinite; */
}

.page3-circle3 p{
    font-size: 1.1vw;
}


.page3-circle3:hover{
    height: 23vw;
    width: 23vw;
    border: 28px solid #151515;
    cursor: none;
}




#page4{
    min-height: 100vh;
    width: 100%;
    /* background-color: #000000; */
    position: relative;
    padding-top: 17vh 0;
}

#page4-content{
    width: 100vw;
    margin-left: 2%;
    position: relative;
    
    margin-left: 28vw;
}

#page4-content h1{
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
}

#page4-content h1::before{
    content: "03";
   position: absolute;
   font-size: 3vw;
   font-family: "silk serif";
   font-weight: 100;
   left: -8%;
   top: 8%;
}

#page4-content .underline{
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 5vw 0;
}

#page4-content>p{
    font-size: 2.05vw;
    width: 35%;
    margin-bottom: 3vw;
}

#page4-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#page4-flex img{
    width: 35%;

}

#page4-flex p{
    font-size: 0.9vw;
    width: 15%;
    margin-left: 2vw;
}

#page4-blue-div{
    background-color: #3F7DF4;
    width: 32vw;
    padding: 3vw 3vw;
    position: relative;
    margin-top: -32vh;
    margin-left: 24vw;
}

.blue-div-elem{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1.5vw 0;
    border-bottom: 2px solid #ffffffbb;
}

.blue-div-elem h4{
    width: 45%;
font-size: 1.4vw;
font-weight: 500;
}

.blue-div-elem p{
    width: 40%;
    font-size: 0.8vw;
}

#page5{
    width: 100%;
    height: 100vh;
    /* background-color: red; */
    position: relative;
}

.elem{
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -1vw;
}

.elem h1{
    font-size: 7vw;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    text-transform: uppercase;
    color: transparent;
    display: inline-block;
    margin-right: 16px;
    -webkit-animation-name: anime;
            animation-name: anime;
    -webkit-animation-duration: 12s;
            animation-duration: 12s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

.elem2{
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -1vw;
}

.elem2 h1{
    font-size: 7vw;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    text-transform: uppercase;
    color: transparent;
    display: inline-block;
    margin-right: 16px;
    -webkit-animation-name: anime;
            animation-name: anime;
    -webkit-animation-duration: 12s;
            animation-duration: 12s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    animation-direction: reverse;
}

.elem span{
    font-style: italic;
    font-family: "silk serif";
    color: transparent;
}
.elem2 span{
    font-style: italic;
    font-family: "silk serif";
    color: transparent;
}

@-webkit-keyframes anime{
      from{
        -webkit-transform: translateX(0);
                transform: translateX(0);
      }
      to{
        -webkit-transform: translateX(calc(-100% - 20px));
                transform: translateX(calc(-100% - 20px));
      }
}

@keyframes anime{
      from{
        -webkit-transform: translateX(0);
                transform: translateX(0);
      }
      to{
        -webkit-transform: translateX(calc(-100% - 20px));
                transform: translateX(calc(-100% - 20px));
      }
}

#footer{
    height: 82vh;
    width: 100%;
    position: relative;
    padding-left: 28vw;
    padding-right: 2vw;
    /* background-color: red; */
}

#footer h1{
font-size: 7vw;
text-transform: uppercase;
position: relative;
}

#footer h1::before{
    content: "04";
   position: absolute;
   font-size: 3vw;
   font-family: "silk serif";
   font-weight: 100;
   left: -12%;
   top: 8%;
}

.underline{
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 3vw 0 3vw 0;
}

#footer-div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 15vw;
    padding-top: 4vw;
    margin-bottom: 6vw;
}

#footer-div h6{
    font-size: 0.9vw;
    margin-bottom: 1.5vw;
    font-weight: 500;
}

.box{
    width: 20%;
}
#footer-div h5{
    font-size: 1.4vw;
    font-weight: 500;
}

._canvas_container{
    z-index: 999999 !important;
    pointer-events: none;
}

.flag{
    height: 29vw;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0;
}


#hero3{
    /* background-color: red; */
    z-index: 999;
    position: relative;
}



@media (max-width:600px){

    body {
        margin: 0;
        overflow-x: hidden; /* Prevent horizontal scroll issues */
    }

    #crsr{
        display: none;
    }


    #mobNav{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        position: fixed;
        height: 12vw;
        width: 100%;
        padding: 0 3vw;
        z-index: 999999999;
    }

    #mobNav i{
        font-size: 3.4vw;
        font-weight: 300;
    }

    #mobNav svg{
        scale: 0.8;
    }


    #page1{
        height: 60vh;
        width: 100%;
        background-color: #151515;
        padding-top: 1px;
        position: relative;
        z-index: 100;
        margin-top: 1PX;
    }
    
    #page1 #nav{
        display: none;
        
    }

    
    #nav-part2{
        display: none;
    }

    
    .hero{
        width: 72%;
        margin-left: 5%;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        overflow-y: hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 0.5vw;
        
    }
    
    
    .hero:nth-child(2){
        margin-top: 25vh;
    }
    
    .hero h1{
        font-size: 9.5vw;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 9.5vw;
        position: relative;
        z-index: 999;
    }
    
    #hero1::before {
        content: "01";
       position: absolute;
       font-size: 4vw;
       font-family: "silk serif";
       font-weight: 100;
       left: 5%;
       top: 34.5%;
    }
    
    .hero h2{
        font-size: 9.5vw;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 9.5vw;
        border-bottom: 0.5vw solid #fff;
        padding-bottom: 0.8vw;
    }
    
    .hero h3{
        font-size: 9.5vw;
        font-weight: 500;
        line-height: 9.5vw;
    }
    

    #page2{
        height: 58vh;
        width: 100%;
        padding: 6vh 0 0 0;
        position: relative;
        margin: 0;
    }
    
    #video-container{
        height: 52vh;
        width: 100vw;
        position: relative;
        left: 0%;   
        top: 0;
        /* background-color: red; */
        background-image: url("./assets/Showreel-2022-preview-1.jpg");
        background-size: coVER;
        background-position: center;
    }
    
    #video-container video{
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        opacity: 0;
    }
    
    
    
    #video-cursor{
        background-color: #FFA63D;
        width: 23vw;
        height: 23vw;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        z-index: 999;
    }
    
    #video-cursor i{
        font-size: 6vw;
    }
    

    #page3{
        min-height: 100vh;
        width: 100%;
        position: relative;
        padding: 17vh 3vw 0 3vw;
        margin-bottom: 0vh;
        margin-top: 4vh;
        /* overflow: hidden; */
    }
    
    #page3 h1{
        font-size: 9vw;
        text-transform: uppercase;
        position: relative;
        margin-left: 2vw;
        margin-bottom: 5vw;
    }
    
    #page3 h1::before{
        content: "02";
       position: absolute;
       font-size: 4vw;
       font-family: "silk serif";
       font-weight: 100;
       left: 0%;
       top: -66%;
    }
    
    #page3 .underline{
        height: 1px;
        width: 94%;
        background-color: #fff;
        margin: 5vw 0;
        margin-left: 2vw;
    }
    
    #image-div-container{
        margin-top: 6vw;
        position: relative;
        padding: 1vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        gap: 2vw;
        padding-bottom: 14vw;
    }
    
    .left-container{
        width: 90vw;
        height: 110vw;
        -ms-flex-negative: 0;
            flex-shrink: 0;
        position: relative;
        padding-bottom: 2vw;
    }
    .left-container h3{
        font-size: 4vw;
        font-weight: 600;
        margin: 2vw 0.5vw;
    }
    
    .image-div{
       height: 100%;
       position: relative;
       overflow: hidden;
       width: 100%;
    }
    
    .right-container{
        width: 90vw;
        height: 110vw;
        -ms-flex-negative: 0;
            flex-shrink: 0;
        position: relative;
        padding-bottom: 2vw;
        margin-top: 10vh;
    }
    .right-container h3{
        font-size: 4vw;
        font-weight: 600;
        margin: 2vw 0.5vw;
    }
    .right-container2{
        width: 90vw;
        height: 110vw;
        -ms-flex-negative: 0;
            flex-shrink: 0;
        position: relative;
        padding-bottom: 2vw;
        margin-top: 10vh;
    }
    .right-container2 h3{
        font-size: 4vw;
        font-weight: 600;
        margin: 2vw 0.5vw;
    }
    
    
    
    .image-div img{
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        -o-object-position: center;
           object-position: center;
    }
    
    .bottom-text{
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin: 2vw 0;
    }
    .bottom-text::after{
        
        margin: 2vw 0;
    }
    
    .bottom-text p{
        width: 60%;
        font-size: 2vw;
        font-weight: 500;
    }
    .bottom-text h4{
        font-weight: 600;
        font-size: 2.5vw;
    
    }
    
    .under-line{
        width: 98%;
       height: 1px;
    color: #fff;
    background-color: #fff;
    margin: 0.8vh 0 1.2vh 0;
    }
    
    .page3-circle1{
        display: none;
    }
    
    .page3-circle1 svg{
        display: none;
    }
    
    .circle-in1{
        display: none;
    }
    
    .circle-in1 p{
        display: none;
    }
    
    .page3-circle1:hover .circle-in1{
        display: none;
    }
    .page3-circle1:hover p{
        display: none;
    }
    
    .page3-circle2{
        display: none;
    }
    
    .page3-circle2 svg{
        display: none;
    }
    
    .circle-in2{
        display: none;
    }
    
    .circle-in2 p{
        display: none;
    }
    
    .page3-circle2:hover .circle-in2{
        display: none;
    }
    .page3-circle2:hover p{
        display: none;
    }
    
    .page3-circle3{
        height: 28vw;
        width: 28vw;
        background-color: #FFA63D;
        border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        position: relative;
        top: 16vw;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        cursor: none;
        margin-bottom: 8vw;
    }

    .page3-circle3 p{
        font-size: 2vw;
        position: absolute;
    }

    
    


    #page4{
        min-height: 100vh;
        width: 100%;
        /* background-color: #000000; */
        position: relative;
        padding: 7vh 0;
        margin: 6vw 0 0 0;
    }
    
    #page4-content{
        width: 100vw;
        margin-left: 2%;
        position: relative;
    }
    
    #page4-content h1{
        font-size: 7vw;
        text-transform: uppercase;
        position: relative;
        padding-top: 1.4vw;
        margin-top: 0.5vw;
        /* background-color: red; */
    }
    
    #page4-content h1::before{
        content: "03";
       position: absolute;
       font-size: 4vw;
       font-family: "silk serif";
       font-weight: 100;
       left: 0%;
       top: -48%;
    }
    
    #page4-content .underline{
        height: 1px;
        width: 98%;
        background-color: #fff;
        margin: 4vw 0 7vw 0;
    }
    
    #page4-content>p{
        font-size: 4vw;
        width: 62%;
        margin-bottom: 4vw;
    }
    
    #page4-flex{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    
    #page4-flex img{
        width: 96vw;
        margin: 4vw 2vw 0 2vw;
        -webkit-box-ordinal-group: 1;
            -ms-flex-order: 0;
                order: 0;
        /* display: flex; */
        -o-object-fit: cover;
           object-fit: cover;
        -o-object-position: center;
           object-position: center;
    }
    
    #page4-flex p{
        font-size: 2.5vw;
        width: 40%;
        margin-left: 1vw;
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1;
        margin-bottom: 2vw;
    }
    
    #page4-blue-div{
        background-color: #3F7DF4;
        width: 96vw;
        /* padding: 4vw 3vw; */
        position: relative;
        margin: 0 2vw 16vw 2vw;
    }
    
    .blue-div-elem{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        /* background-color: red; */
        /* padding: 3.5vw 0; */
        margin: 3.5vw 0;
        border-bottom: 2px solid #ffffffbb;
    }
    
    .blue-div-elem h4{
        width: 45%;
    font-size: 2.8vw;
    font-weight: 500;
    }
    
    .blue-div-elem p{
        width: 45%;
        font-size: 2.4vw;
    }


    #page5{
        width: 100%;
        height: 40vh;
        /* background-color: red; */
        position: relative;
    }
    
    .elem{
        white-space: nowrap;
        overflow-x: hidden;
        margin-bottom: -1vw;
    }
    
    .elem h1{
        font-size: 7vw;
        -webkit-text-stroke: 1px #fff;
        font-weight: 400;
        text-transform: uppercase;
        color: transparent;
        display: inline-block;
        margin-right: 16px;
        -webkit-animation-name: anime;
                animation-name: anime;
        -webkit-animation-duration: 12s;
                animation-duration: 12s;
        -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
    }
    
    .elem2{
        white-space: nowrap;
        overflow-x: hidden;
        margin-bottom: -1vw;
    }
    
    .elem2 h1{
        font-size: 7vw;
        -webkit-text-stroke: 1px #fff;
        font-weight: 400;
        text-transform: uppercase;
        color: transparent;
        display: inline-block;
        margin-right: 16px;
        -webkit-animation-name: anime;
                animation-name: anime;
        -webkit-animation-duration: 12s;
                animation-duration: 12s;
        -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
        animation-direction: reverse;
    }
    
    .elem span{
        font-style: italic;
        font-family: "silk serif";
        color: transparent;
    }
    .elem2 span{
        font-style: italic;
        font-family: "silk serif";
        color: transparent;
    }


    #footer{
        height: 85vh;
        width: 100%;
        position: relative;
        margin: 2vw;
        padding: 14vw 2vw 2vw 2vw;
    }
    
    #footer h1{
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
    }
    
    #footer h1::before{
        content: "04";
       position: absolute;
       font-size: 4vw;
       font-family: "silk serif";
       font-weight: 100;
       left: 0%;
       top: -68%;
    }
    
    .underline{
        height: 1px;
        width: 100%;
        background-color: #fff;
        margin: 3vw 0 3vw 0;
    }
    
    #footer-div{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 6.5vw;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding-right: 15vw;
        padding-top: 4vw;
        margin-bottom: 10vw;
    }
    
    #footer-div h6{
        font-size: 2.4vw;
        margin-bottom: 2.5vw;
        font-weight: 500;
    }
    
    .box{
        width: 98%;
        padding-bottom: 8vw;
    }
    #footer-div h5{
        font-size: 3.8vw;
        font-weight: 500;
    }

}
